html {
  background: url(./image/backgroundImage.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.ships {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ship {
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  background-color: rgb(125, 146, 214);
}

.shipPreperty {
  width: 200px;
  text-align: left;
}
.active {
  background: blue;
  color: white;
}
button {
  border-radius: 10px;
}
.add-to-cart {
  background-color: rgb(84, 130, 230);
  height: 30px;
  bottom: 20px;
  right: 20px;
}
.header {
  color: rgb(134, 190, 238);
}
.cart-image {
  height: 40px;
  width: 40px;
  filter: opacity(0.7) drop-shadow(0 0 0 rgb(250, 5, 66));
  margin-top: 30px;
}
.cart {
  display: flex;
  justify-content: space-evenly;
}
.add-ship {
  background-color: rgb(84, 130, 230);
  height: 20px;
  margin-left: 10px;
}
.cart-item-amount,
.promo-code {
  color: white;
}
